/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #fff;
  font-size: 16px;
}

a {
  color: white;
  transition: color 0.2ms ease-in;
}
a:hover {
  color: #D4C17F;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.container--sm {
  max-width: 840px;
}

.title-2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  color: #D4C17F;
}
@media screen and (max-width: 959px) {
  .title-2 {
    font-size: 28px;
  }
}

.link-bold {
  font-weight: 700;
  color: #D4C17F;
}

.text-right {
  text-align: right;
}

.none {
  display: none !important;
}

.no-scroll {
  overflow-y: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0 74px;
  min-height: 840px;
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url("./../img/header/header-bg.jpg");
}
@media screen and (max-width: 959px) {
  .header {
    min-height: unset;
    row-gap: 50px;
  }
}

.header-top__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top__row--mobile {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #242B33;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 60px;
  padding: 40px 0;
}
.header-top__row--mobile .header-nav {
  display: block;
}
.header-top__row--mobile .header-nav__list {
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.header-top__row--mobile .header-nav__btn {
  position: fixed;
  top: 50px;
  right: 15px;
}

.header-nav__btn {
  display: none;
}
@media screen and (max-width: 959px) {
  .header-nav__btn {
    display: block;
  }
}

@media screen and (max-width: 959px) {
  .header-nav {
    display: none;
  }
}

.header-nav__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.header-nav__link {
  font-size: 14px;
  letter-spacing: 0.05em;
}

.header-center__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48px;
  color: #D4C17F;
  text-align: center;
  padding-bottom: 121px;
  position: relative;
}
.header-center__title-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
@media screen and (max-width: 959px) {
  .header-center__title {
    font-size: 32px;
    padding-bottom: 100px;
  }
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.header-bottom__info {
  position: relative;
  font-size: 18px;
}
.header-bottom__info-map {
  margin-left: -98px;
}
.header-bottom__info-tel {
  margin-left: 98px;
}
.header-bottom__info-map, .header-bottom__info-tel {
  padding-left: 35px;
}
.header-bottom__info-map::before, .header-bottom__info-tel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(0%, -50%);
}
.header-bottom__info-map::before {
  background-image: url(./../img/header/map.svg);
}
.header-bottom__info-tel::before {
  background-image: url(./../img/header/phone.svg);
}
@media screen and (max-width: 959px) {
  .header-bottom__info {
    font-size: 14px;
  }
  .header-bottom__info-map, .header-bottom__info-tel {
    padding-left: 26px;
    margin: 0;
  }
}
@media screen and (max-width: 959px) {
  .header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.benefits {
  overflow: hidden;
  padding: 120px 0;
  position: relative;
}
.benefits::after {
  content: "II";
  left: calc(50% + 555px);
  transform: translate(-50%, 0%);
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  line-height: 1.15;
  opacity: 0.02;
  z-index: -1;
}
.benefits__row {
  display: flex;
  align-items: center;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
@media screen and (max-width: 959px) {
  .benefits__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 30px;
  }
}
.benefits__item {
  text-align: center;
}
.benefits__item-img {
  margin-bottom: 53px;
}
.benefits__item-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
}

.apartments {
  position: relative;
}
.apartments::before {
  content: "III";
  right: calc(50% + 555px);
  transform: translate(50%, 0%);
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  line-height: 1.15;
  opacity: 0.02;
  z-index: -1;
}
.apartments__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 959px) {
  .apartments__title {
    margin-bottom: 44px;
  }
}
.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .apartments__cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.card {
  display: inline-block;
  position: relative;
  color: #fff;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  z-index: 7;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: opacity 0.2s ease-in;
}
.card:hover {
  color: #fff;
}
.card:hover::after {
  opacity: 1;
}
.card__img {
  position: relative;
  z-index: 5;
  transition: all 0.2s ease-in;
}
.card:hover .card__img {
  transform: scale(1.1);
  filter: contrast(110%) saturate(1.2) brightness(1.2);
}
.card__title {
  position: absolute;
  left: 50px;
  bottom: 44px;
  right: 20px;
  font-size: 24px;
  z-index: 9;
}
@media screen and (max-width: 959px) {
  .card__title {
    font-size: 20px;
    left: 30px;
    bottom: 30px;
  }
}

.cta {
  padding: 180px 0;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9) 0%, rgba(36, 43, 51, 0.9) 100%), url("./../img/cta/cta-bg.jpg"), #C4C4C4;
}
@media screen and (max-width: 959px) {
  .cta {
    padding: 60px 0;
  }
}
.cta__title {
  margin-bottom: 17px;
}
.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .cta__wrapper {
    grid-template-columns: 1fr;
  }
}
.cta__text {
  line-height: 1.5;
}
.cta__text p + p {
  margin-top: 1em;
}
@media screen and (max-width: 959px) {
  .cta__text {
    font-size: 14px;
  }
}
.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}
@media screen and (max-width: 959px) {
  .cta__form {
    grid-template-columns: 1fr;
  }
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
  transition: background-color 0.2s ease-in;
}
.form__input::-moz-placeholder {
  color: #BEBEBE;
}
.form__input::placeholder {
  color: #BEBEBE;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.25);
}
.form__privacy {
  font-size: 13px;
  color: #E7E7E7;
  text-align: center;
  line-height: 1.23;
  align-self: center;
}
@media screen and (max-width: 959px) {
  .form__privacy--bottom {
    grid-row: 4/5;
  }
}
.form__btn {
  font-weight: 700;
  font-size: 16px;
  height: 50px;
  padding: 12px;
  color: #fff;
  text-align: center;
  background-color: #D4C17F;
  transition: background-color 0.2s ease-in;
}
.form__btn:hover {
  background-color: #ddc676;
}

.video {
  overflow: hidden;
  text-align: center;
  position: relative;
}
.video::after {
  content: "IV";
  left: calc(50% + 555px);
  transform: translate(-50%, 0%);
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  line-height: 1.15;
  opacity: 0.02;
  z-index: -1;
}
.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
}
.video__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 43, 51, 0.8);
  transition: background-color 0.2s ease-in;
}
.video__link:hover::before {
  background-color: rgba(36, 43, 51, 0.7);
}
.video__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 959px) {
  .video__icon {
    width: 80px;
    height: 80px;
  }
}
.video__link:hover .video__icon {
  transform: translate(-50%, -50%) scale(1.2);
  filter: saturate(1.5);
}

.maps {
  padding: 180px 0;
  position: relative;
}
.maps::before {
  content: "V";
  right: calc(50% + 555px);
  transform: translate(50%, 0%);
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  line-height: 1.15;
  opacity: 0.02;
  z-index: -1;
  top: 180;
  line-height: 1;
}
@media screen and (max-width: 959px) {
  .maps {
    padding: 90px 0px;
  }
}
.maps__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 959px) {
  .maps__title {
    margin-bottom: 44px;
  }
}

.map {
  height: 358px;
  background: #626262;
}

.feedback {
  padding-bottom: 180px;
}
@media screen and (max-width: 959px) {
  .feedback {
    padding-bottom: 90px;
  }
}
.feedback__title {
  margin-bottom: 38px;
}
@media screen and (max-width: 959px) {
  .feedback__title {
    margin-bottom: 19px;
  }
}
.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
}
@media screen and (max-width: 959px) {
  .feedback__form {
    grid-template-columns: 1fr;
  }
}

.footer {
  background: #2D343C;
  padding: 72px 0 51px;
  font-size: 14px;
  letter-spacing: 0.05rem;
}
@media screen and (max-width: 959px) {
  .footer {
    padding: 36px 25px;
  }
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .footer__grid {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 30px;
  }
}
.footer__logo {
  margin-top: -12px;
}
.footer__nav-list {
  display: grid;
  gap: 15px;
}
.footer__address {
  display: grid;
  gap: 20px;
}
.footer__socials {
  display: flex;
  align-items: center;
  -moz-column-gap: 22px;
       column-gap: 22px;
}/*# sourceMappingURL=main.css.map */