.maps {
  padding: 180px 0;
  position: relative;

  &::before {
    content: 'V';
    right: calc(50% + 555px);
    transform: translate(50%, 0%);
    @include decorNumber;
    top: 180;
    line-height: 1;
  }`

  &__title {
    margin-bottom: 88px;
  }
}

.map {
  height: 358px;
  background: #626262;
}

