@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap');


body {
    font-family: $font-main;
    background-color: $dark;
    color: $white;
    font-size: 16px;
}

a {
    color: white;
    transition: color .2ms ease-in;

    &:hover {
        color: $accent;
    }
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;

    &--sm {
        max-width: 840px;
    }
}

.title-2 {
    font-family: $font-accent;
    font-weight: 700;
    font-size: 36px;
    color: $accent;

    @include mediaTablet {
        font-size: 28px;
    }
}

.link-bold {
    font-weight: 700;
    color: $accent;
}

.text-right {
    text-align: right;
}

.none {
    display: none !important;
}

.no-scroll {
    overflow-y: hidden;
}